<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ArticleBomb0000</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
			<key>ArticleBomb0001</key>
			<dict>
				<key>frame</key>
				<string>{{157,3},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
			<key>ArticleBomb0002</key>
			<dict>
				<key>frame</key>
				<string>{{311,3},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
			<key>ArticleBomb0003</key>
			<dict>
				<key>frame</key>
				<string>{{3,132},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
			<key>ArticleBomb0004</key>
			<dict>
				<key>frame</key>
				<string>{{157,132},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
			<key>ArticleBomb0005</key>
			<dict>
				<key>frame</key>
				<string>{{311,132},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
			<key>ArticleBomb0006</key>
			<dict>
				<key>frame</key>
				<string>{{3,261},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ArticleBomb.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>ArticleBomb.png</string>
		</dict>
	</dict>
</plist>
