<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Coin0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{29,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{55,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,28},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{29,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Coin0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,22}</string>
				<key>spriteSourceSize</key>
				<string>{23,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{23,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{111,61}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Coin.png</string>
				<key>textureFileName</key>
				<string>Coin</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
