<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FlyingSlime0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{95,3},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,51},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{95,51},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,99},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{95,99},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,147},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{95,147},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,195},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>FlyingSlime0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,45}</string>
				<key>spriteSourceSize</key>
				<string>{89,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{89,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{189,244}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>FlyingSlime.png</string>
				<key>textureFileName</key>
				<string>FlyingSlime</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
