<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Hero0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,99}</string>
				<key>spriteSourceSize</key>
				<string>{46,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{46,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Hero0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,0},{45,99}}</string>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{46,99}</string>
				<key>spriteSourceSize</key>
				<string>{45,99}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{52,3},{45,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Hero0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,1},{45,98}}</string>
				<key>spriteOffset</key>
				<string>{-1,-1}</string>
				<key>spriteSize</key>
				<string>{46,99}</string>
				<key>spriteSourceSize</key>
				<string>{45,98}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{3,105},{45,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Hero0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,99}</string>
				<key>spriteSourceSize</key>
				<string>{46,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{46,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,207}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>Hero.png</string>
				<key>textureFileName</key>
				<string>Hero</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
