<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bomb_dead0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,3},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,3},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,3},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,150},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,150},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,150},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,150},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,297},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bomb_dead0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,144}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,144}</string>
				<key>spriteSourceSize</key>
				<string>{179,144}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3,297},{179,144}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{374,449}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>bomb_dead.png</string>
				<key>textureFileName</key>
				<string>bomb_dead</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
